.game{

    background-image: url(img/forest.png);
    background-size: 600px 200px;
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#monster{
    width: 50px;
    height: 50px;
    background: url(img/walking/skeleton-walking_0.png) no-repeat;
    background-size: 50px 50px;

    position: relative;
    top: 150px;

}

/*.jump{*/
/*    animation: jump 0.3s linear;*/
/*}*/
/*@keyframes jump {*/
/*    0% {*/
/*        top:150px;*/
/*    }*/
/*    30% {*/
/*        top: 130px;*/
/*    }*/
/*    50% {*/
/*        top: 80px;*/
/*    }*/
/*    80% {*/
/*        top: 130px;*/
/*    }*/
/*    100% {*/
/*        top: 130px;*/
/*    }*/
/*}*/
