.game{
    background-image: url(img/forest.png);
    background-size: 1000px 300px;
    width: 1000px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}

/*.game{*/
/*    background-image: url(img/background2.jpg);*/
/*    background-size: 700px 300px;*/
/*    width: 700px;*/
/*    height: 300px;*/
/*    border: 1px solid black;*/
/*    margin: auto;*/
/*}*/


#monster{
    background-size: 715px 50px;
    width: 50px;
    height: 50px;
    position: relative; right: -40px;
    top: 240px;
    left: 50px;
}

@keyframes walk {
  100% {background-position: 654px; }
  }

@keyframes jump {
    0% {
        top: 240px;
    }
    30% {
        top: 80px;
    }
    70% {
        top: 80px;
    }
    100% {
        top: 240px;
    }
}
.carrot{
    background: url("./img/carrot.png");
}
.zombie{
    background: url("./img/zombie.png");
}
.monster{
    background: url("./img/monster.png");
}
.walk{
    animation: walk 1s steps(12) infinite;
}

.jump{
    animation: jump 500ms;
}

.scoreText {
    margin-top: 30px;
    text-align: center;
}

#stone {
    height: 80px;
    width: 70px;
    position: relative;
    top: 170px;
    left: 950px;
    background: url(img/rocks/rock2.png) right center;
    background-size: cover;
}

@keyframes stone {
    0% {left: 950px;}
    100%{left: -100px;}
}

#background_body {
    background-color: lightsteelblue;
}

.authors {
    margin-top: 0px;
    padding: 40px;
    text-align: justify;
}

.authors .creators {
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    color: saddlebrown;
}


.home-description {
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    color: black;
}
.do-you-want {
    margin-top: 70px;
    color: black;
    font-weight: bolder;
    font-size: x-large ;
    text-align: center;
}
.good-luck {
    color: black;
    font-weight: bolder;
    font-size: x-large ;
    text-align: center;
}
.main-menu {
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.main-menu .divider {
    display: inline-block;
    width: 10px;
    position: relative;
    height: 12px;
    margin: 0 10px;
}
.main-menu .divider:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: #212529;
    position: absolute;
    left: 0;
    top: 5px;
}

.main-menu a {
    color: #212529;
}

.front_title {
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: 50px;
  width: auto;
}

.column {
  float: left;
  width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
    margin-top: 60px;
    margin-bottom: 50px;
}


.contact-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 70px;
}

h2{
	position: relative;
	padding: 0 0 10px;
    text-align: center;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

.start-message {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom:100px;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
  color:white;
  text-transform: uppercase;
}


.hide {
  display: none;
}

#home-game-image {
    text-align: center;
}