<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monster Adventures</title>
    <meta charset="UTF-8">

    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="../style.css">
</head>

<body id="background_body">
    <h1 class="front_title">Monster Adventures</h1>
    <div>
        <nav class="main-menu">
            <a href="index.html">HOME</a>
            <span class ="divider"></span>
            <a href="game.html">GAME</a>
            <span class ="divider"></span>
            <a href="team.html">TEAM</a>
            <span class ="divider"></span>
            <a href="contact.html">CONTACT US</a>
        </nav>
    </div>

<div class="contact-container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
				<input type="text" class="field" placeholder="Your Name">
				<input type="text" class="field" placeholder="Your Email">
				<input type="text" class="field" placeholder="Phone">
				<textarea placeholder="Message" class="field"></textarea>
				<button class="btn">Send</button>
			</div>
		</div>
	</div>

</body>

</html>
