<!DOCTYPE html>
<html lang="en">
<head>
    <title>Highscores</title>
    <meta charset="UTF-8">

    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="../style.css">
</head>

<body id="background_body">
    <h1 class="front_title">Monster Adventures</h1>
    <div>
        <nav class="main-menu">
            <a href="index.html">HOME</a>
            <span class ="divider"></span>
            <a href="game.html">GAME</a>
            <span class ="divider"></span>
            <a href="team.html">TEAM</a>
            <span class ="divider"></span>
            <a href="highscores.html">HIGHSCORES</a>
            <span class ="divider"></span>
            <a href="contact.html">CONTACT US</a>
        </nav>
    </div>

</body>

</html>
